body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

header {
    background: #20B2AA;
    color: #DC143C;
    padding: 20px 0;
    text-align: center;
}

.headline {
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding-left: 180px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
}

.summary {
    font-size: 1.2em;
}

nav {
    background: #A0522D;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-right: 150px;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.nav-list a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
}

.about-me, .projects, .contact {
    background: #FA8072;
    
}

.about-me ul, .projects .project, .contact ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}